<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018644921026-5avqf5jp6vacnl6rlmspbdgpg60h7ep1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018644921026-5avqf5jp6vacnl6rlmspbdgpg60h7ep1</string>
	<key>API_KEY</key>
	<string>AIzaSyBwMlTIFwULpTC2gWKX4tVCNDs95b1plf4</string>
	<key>GCM_SENDER_ID</key>
	<string>1018644921026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.class9</string>
	<key>PROJECT_ID</key>
	<string>firebaseclass25</string>
	<key>STORAGE_BUCKET</key>
	<string>firebaseclass25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018644921026:ios:e7e04091fb509c2597595b</string>
</dict>
</plist>